<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
</head>
<body>
    <h1>Instagram Profile: <%= username %></h1>
    <p>Age: <%= age %></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio iste eligendi tempore, ad quia aliquid accusamus animi tempora impedit. Voluptate fugiat nobis aliquam veritatis at accusamus necessitatibus ipsam unde sapiente.
    Facere debitis in magnam eaque! Illo explicabo nisi placeat nesciunt aperiam! Expedita, repellat! Exercitationem atque illum, quaerat magnam ipsam repudiandae vel enim fuga quasi pariatur, mollitia libero modi quos adipisci!
    Repellendus, cumque unde. Culpa fugit odit debitis fuga tempora sed suscipit provident blanditiis, hic ipsum eligendi consequuntur et sit praesentium aspernatur perferendis voluptatibus explicabo? Deserunt qui ratione praesentium reprehenderit soluta.
    Quasi error aliquid animi voluptates tempora quia veniam totam consequuntur iusto. Beatae sunt, sed exercitationem facilis aspernatur sequi natus fuga itaque, amet voluptas distinctio animi aliquid at libero debitis. Nesciunt.
    Reiciendis, harum possimus tenetur suscipit natus delectus consequatur, esse sint nemo magni recusandae ex itaque assumenda! Quis, distinctio fugiat, ab dolorem ducimus, ullam voluptate assumenda sequi iste esse incidunt. Pariatur.</p>
</body>
</html>